Source: google-compute-image-packages
Section: admin
Priority: optional
Maintainer: Google Cloud Team <gc-team@google.com>
Build-Depends: debhelper (>= 11),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools,
               python-pytest,
               python3-pytest,
               python-mock,
               python-boto,
               python3-boto,
               python3-distro
Standards-Version: 4.2.1
Testsuite: autopkgtest-pkg-python
Homepage: https://github.com/GoogleCloudPlatform/compute-image-packages

Package: google-compute-engine
Architecture: all
Depends: ${misc:Depends},
         google-compute-engine-oslogin,
         python3-google-compute-engine (= ${source:Version}),
         rsyslog | system-log-daemon,
Provides: irqbalance
Conflicts: irqbalance
Description: Google Compute Engine guest environment
 This package contains configuration and systemd init files for features
 specific to the Google Compute Engine cloud environment.

Package: python-google-compute-engine
Section: python
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
         python-distro | python-distro-info,
         python-boto,
         python-pkg-resources,
Description: Google Compute Engine Python 2.x library
 Python 2.x library used to setup and manage resources in Google Compute Engine
 guests machines in a cloud environment such as accounts, clock skew, disk
 expand, instance setup, network and metadata scripts.

Package: python3-google-compute-engine
Section: python
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
         python3-distro | python3-distro-info,
         python3-boto,
         python3-pkg-resources,
Description: Google Compute Engine Python 3.x library
 Python 3.x library used to setup and manage resources in Google Compute Engine
 guests machines in a cloud environment such as accounts, clock skew, disk
 expand, instance setup, network and metadata scripts.
