Source: google-compute-image-packages
Section: admin
Priority: optional
Maintainer: Lucas Kanashiro <lucas.kanashiro@collabora.com>
Uploaders: Google Cloud Team <gc-team@google.com>
Build-Depends: debhelper (>= 11),
               dh-python,
               libcurl4-openssl-dev,
               libjson-c-dev | libjson0-dev,
               libpam-dev,
               python3-setuptools,
               python-all,
               python-boto,
               python-mock,
               python-pytest,
               python-setuptools,
               python3-all,
               python3-boto,
               python3-distro,
               python3-pytest
Standards-Version: 4.2.1
Testsuite: autopkgtest-pkg-python
Homepage: https://github.com/GoogleCloudPlatform/compute-image-packages

Package: google-compute-engine
Architecture: all
Depends: google-compute-engine-oslogin,
         python3-google-compute-engine (= ${source:Version}),
         rsyslog | system-log-daemon,
         ${misc:Depends}
Provides: irqbalance
Conflicts: irqbalance
Description: Google Compute Engine guest environment
 This package contains configuration and systemd init files for features
 specific to the Google Compute Engine cloud environment.

Package: python-google-compute-engine
Section: python
Architecture: all
Depends: python-boto,
         python-distro | python-distro-info,
         python-pkg-resources,
         ${misc:Depends},
         ${python:Depends}
Description: Google Compute Engine Python 2.x library
 Python 2.x library used to setup and manage resources in Google Compute Engine
 guests machines in a cloud environment such as accounts, clock skew, disk
 expand, instance setup, network and metadata scripts.

Package: python3-google-compute-engine
Section: python
Architecture: all
Depends: python3-boto,
         python3-distro | python3-distro-info,
         python3-pkg-resources,
         ${misc:Depends},
         ${python3:Depends}
Description: Google Compute Engine Python 3.x library
 Python 3.x library used to setup and manage resources in Google Compute Engine
 guests machines in a cloud environment such as accounts, clock skew, disk
 expand, instance setup, network and metadata scripts.

Package: google-compute-engine-oslogin
Architecture: any
Depends: libnss-cache-oslogin2,
         libnss-oslogin2,
         libpam-google-compute-engine-oslogin,
         ${misc:Depends},
         ${shlibs:Depends}
Description: OS login scripts for Google Compute Engine authentication
 Contains applications and configurations for using OS Login on Google Compute
 Engine Virtual Machine Instances.

Package: libnss-cache-oslogin2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: NSS cache library for Google Compute Engine
 Contains libraries, applications and configurations for using OS Login
 on Google Compute Engine Virtual Machine Instances cache library.

Package: libnss-oslogin2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: NSS library for Google Compute Engine
 Contains libraries, applications and configurations for using OS Login
 on Google Compute Engine Virtual Machine Instances library.

Package: libpam-google-compute-engine-oslogin
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PAM module for Google Compute Engine authentication
 Contains libraries, applications and configurations for using OS Login
 on Google Compute Engine Virtual Machine Instances pam library.
