Source: google-compute-image-packages
Section: admin
Priority: optional
Maintainer: Lucas Kanashiro <lucas.kanashiro@collabora.com>
Uploaders: Google Cloud Team <gc-team@google.com>
Build-Depends: debhelper (>= 11),
               dh-python,
               libcurl4-openssl-dev,
               libjson-c-dev | libjson0-dev,
               libpam-dev,
               python3-setuptools,
               python-all,
               python-boto,
               python-mock,
               python-pytest,
               python-setuptools,
               python3-all,
               python3-boto,
               python3-distro,
               python3-pytest
Standards-Version: 4.2.1
Testsuite: autopkgtest-pkg-python
Homepage: https://github.com/GoogleCloudPlatform/compute-image-packages

Package: google-compute-engine
Architecture: all
Depends: google-compute-engine-oslogin,
         python3-google-compute-engine (= ${source:Version}),
         rsyslog | system-log-daemon,
         ${misc:Depends}
Provides: irqbalance
Conflicts: irqbalance
Description: Google Compute Engine guest environment for cloud images
 This package contains a set of scripts, configuration, and systemd init files
 for features specific to the Google Compute Engine cloud environment. They are
 used on Google Compute Engine cloud images.

Package: python-google-compute-engine
Section: python
Architecture: all
Depends: python-boto,
         python-distro | python-distro-info,
         python-pkg-resources,
         ${misc:Depends},
         ${python:Depends}
Description: Python library for Google Compute Engine interaction
 Python 2.x library used to setup and manage resources in Google Compute Engine
 guests machines in a cloud environment such as accounts, clock skew, disk
 expand, instance setup, network and metadata scripts.

Package: python3-google-compute-engine
Section: python
Architecture: all
Depends: python3-boto,
         python3-distro | python3-distro-info,
         python3-pkg-resources,
         ${misc:Depends},
         ${python3:Depends}
Description: Python library for Google Compute Engine interaction (Python 3)
 Python 3.x library used to setup and manage resources in Google Compute Engine
 guests machines in a cloud environment such as accounts, clock skew, disk
 expand, instance setup, network and metadata scripts.

Package: google-compute-engine-oslogin
Architecture: any
Depends: libnss-cache-oslogin2,
         libnss-oslogin2,
         libpam-google-compute-engine-oslogin,
         ${misc:Depends},
         ${shlibs:Depends}
Description: OS Login guest environment for Google Compute Engine
 Contains applications and configurations for using OS Login on Google Compute
 Engine Virtual Machine Instances.
 .
 It is composed by:
  * Authorized Keys Command to fetch SSH keys from the user's OS Login profile
    and make them available to sshd.
  * NSS Module to provide support for making OS Login user and group
    information available to the system, using NSS (Name Service Switch)
    functionality.
  * PAM Module to provide authorization and authentication support allowing
    the system to use data stored in Google Cloud IAM permissions to control
    both, the ability to log into an instance, and to perform operations as
    root (sudo).

Package: libnss-cache-oslogin2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: NSS cache module for Google Compute Engine
 It provides cache support for making OS Login user and group information
 available to the system in Google Compute Engine environment, using NSS (Name
 Service Switch) functionality.

Package: libnss-oslogin2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: NSS module for Google Compute Engine
 It provides support for making OS Login user and group information available
 to the system in Google Compute Engine environment, using NSS (Name Service
 Switch) functionality.

Package: libpam-google-compute-engine-oslogin
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PAM module for Google Compute Engine
 It provides authorization and authentication support allowing the system to
 use data stored in Google Cloud IAM permissions to control both, the ability
 to log into an instance, and to perform operations as root (sudo).
