Source: google-compute-engine-oslogin
Maintainer: Google Compute Engine <gc-team@google.com>
Section: misc
Priority: optional
Standards-Version: 4.2.1
Build-Depends: debhelper (>= 11),
               libcurl4-openssl-dev,
               libjson-c-dev | libjson0-dev,
               libpam-dev

Package: google-compute-engine-oslogin
Architecture: any
Depends: libnss-cache-oslogin2,
         libnss-oslogin2,
         libpam-google-compute-engine-oslogin,
         ${misc:Depends},
         ${shlibs:Depends}
Description: OS login scripts for Google Compute Engine authentication
 Contains applications and configurations for using OS Login on Google Compute
 Engine Virtual Machine Instances.

Package: libnss-cache-oslogin2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: NSS cache library for Google Compute Engine
 Contains libraries, applications and configurations for using OS Login
 on Google Compute Engine Virtual Machine Instances cache library.

Package: libnss-oslogin2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: NSS library for Google Compute Engine
 Contains libraries, applications and configurations for using OS Login
 on Google Compute Engine Virtual Machine Instances library.

Package: libpam-google-compute-engine-oslogin
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PAM module for Google Compute Engine authentication
 Contains libraries, applications and configurations for using OS Login
 on Google Compute Engine Virtual Machine Instances pam library.
