#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_install:
	dh_auto_install -- NSS_INSTALL_PATH=usr/lib/ PAM_INSTALL_PATH=lib/security BIN_INSTALL_PATH=usr/bin
